<%- include("partials/header.ejs") -%>

<div class="cover-container p-3 mx-auto text-left">

<h1>Informed Consent of Participation</h1>

<p>
  You are invited to participate in the online study <strong>Adaptive RSVP</strong>
  initiated and conducted by
  Lukas Atkinson,
  Renis Fejzo,
  Anik Saha,
  Bogdan Gabriel Halmaghi,
  and Prof. Valentin Schwind.
  The research is conducted at the University of Applied Sciences in Frankfurt.
  Please note:
</p>

<ul>
  <li>Your participation is entirely voluntary</li>
  <li>The online study will last approximately 10 to 15 minutes</li>
  <li>We will record personal demographics (age, gender, etc.)</li>
  <li>We may publish our results from this and other sessions in our reports,
    but all published data will be anonymized
    so that it cannot be associated with your identity.</li>
</ul>

<p>
  If you have any questions or complaints
  about this research study
  or regarding your rights as a human research subject,
  please contact Prof. Valentin Schwind (email: valentin.schwind@fb2.fra-uas.de)
  or Lukas Atkinson (email: fra-uas@LukasAtkinson.de).
  You should carefully read the information below.
  Please take as much time as you need to read the consent form.
</p>

<h2>1. Purpose and Goal of this Research</h2>

<p>
  This study aims to understand the effect of speed settings in RSVP reading.
  Your participation will help us achieve this goal.
  The results of this research may be presented at scientific or professional meetings
  or published in scientific proceedings and journals.
</p>

<h2>2. Participation and Compensation</h2>

<p>
  Your participation in this online study is completely voluntary.
  You will be one of approximately 30 people being surveyed for this research.
  You will receive no compensation.
  You may withdraw and discontinue participation at any time without penalty.
  If you decline to participate or withdraw from the online study, no one will be told.
  You may refuse to answer any questions you do not want to answer.
</p>

<h2>3. Procedure</h2>

<p>After confirming your informed consent:</p>

<ol>
  <li>you will be asked to provide some demographic background information</li>
  <li>you will go through a short tutorial on RSVP reading</li>
  <li>you will read a couple of short text excerpts</li>
  <li>you will be asked to answer text comprehension questions</li>
</ol>

<p>The complete procedure of this online study should last no more than 15 minutes</p>

<h2>4. Risks and Benefits</h2>

<p>
  There will be flashing pictures.
  Please do not take the study if you are affected by epilepsy.
</p>

<p>
  There are no further risks associated with this online study.
  Discomforts or inconveniences will be minor and are not likely to happen.
  If any discomforts become a problem, you may discontinue your participation.
  You will not directly benefit through participation in this online study.
  We hope that the information obtained from your participation
  may help to bring forward the research in this field.
</p>

<h2>5. Data Protection and Confidentiality</h2>

<p>
  During your participation,
  you have the opportunity to provide various personal data (age, gender, health, etc.).
  Furthermore, your interactions during the experiment will be logged
  (timestamps, event counts, submitted responses).
  The data collected in this study will only be published in anonymized form
  where you are only identified by a random ID.
  This anonymized data may be kept indefinitely
  and may be used for related research purposes.
  Any non-anonymized data will be erased as soon as possible,
  at the latest after one month.
</p>

<p>
  The personal data is obtained based on your consent.
  Participation is voluntary: you can decline or withdraw your consent at any time without consequences.
  You can furthermore request access to, rectification, and erasure of your data
  as well as get your data in a portable format.
</p>

<p>
  The processing of personal data is protected by the EU General Data Protection Regulation (GDPR).
  You have the right to lodge a complaint with a supervisory agency
  such as the <a href="https://datenschutz.hessen.de/service/beschwerde">Hessische Datenschutzbeauftragte</a>.
  We will take all reasonable steps to inform you should a data breach occur.
</p>

<h2>6. Identification of Investigators</h2>

<p>
  If you have any questions or concerns about the research, please feel free to contact:
</p>

<div class="d-flex">
  <div class="m-3">
    Lukas Atkinson et al<br>
    Student<br>
    fra-uas@LukasAtkinson.de
  </div>
  <div class="m-3">
    Prof. Valentin Schwind<br>
    Principal Investigator<br>
    Frankfurt University of Applied Sciences<br>
    Nibelungenplatz 1<br>
    60318 Frankfurt a. M., Germany<br>
    valentin.schwind@fb2.fra-uas.de
  </div>
</div>

<h2>Consent</h2>

<form method="post" action="/consent">
  <div>
    <input name="consent" id="consent" type="checkbox">
    <label for="consent">Yes, I consent to participating in this research.</label>
  </div>

  <button type="submit">continue</button>
</form>

</div>

<%- include ("partials/footer.ejs") -%>
