<%- include("partials/header.ejs") -%>

<div class="mainReader">
  <h1 style="margin-top: 30vh">Thank you for participating!</h1>

  <a href="/" class="btn btn-secondary">Return to the home page</a>
</div>



<%- include ("partials/footer.ejs") -%>
