<%- include("partials/header.ejs") -%>


  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <div class="inner">
        <h3 class="masthead-brand"><a href="/">Adaptive RSVP</a></h3>
        <nav class="nav nav-masthead justify-content-center">
          <a class="nav-link active" href="/">Home</a>
          <a class="nav-link" href="/consent">Online Study</a>
        </nav>
      </div>
    </header>

    <main role="main" class="inner cover">
      <h1 class="cover-heading">Participate in our online study!</h1>
      <p>
        We are conducting an online study on Rapid Serial Visual Presentation (RSVP),
        a speed-reading technique.
        We want to understand the effect of certain speed settings.
      </p>
      <p>
        Please contribute by taking the short study.
        All you need is a computer with a keyboard,
        and 10 to 15 minutes:
      </p>
      <p class="lead">
        <a href="/consent" class="btn btn-lg btn-secondary">go to online study</a>
      </p>
      <p>
        Thank you!
      </p>
    </main>

    <footer class="mastfoot mt-auto">
      <div class="inner">
        <p>This study is part of a HIS and AI student project<br>
          at Frankfurt University of Applied Sciences.</p>
      </div>
    </footer>
  </div>


  </div>
</div>

<%- include ("partials/footer.ejs") -%>
