<%- include("partials/header.ejs") -%>


  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <div class="inner">
        <h3 class="masthead-brand"><a href="/">RSVP Improved </a></h3>
        <nav class="nav nav-masthead justify-content-center">
          <a class="nav-link active" href="/">Home</a>
          <a class="nav-link" href="/about">About Us</a>
        </nav>
      </div>
    </header>

    <main role="main" class="inner cover">
      <h1 class="cover-heading">Read a text with RSVP !</h1>

      <form method="post" action="/reader">
        <div class="form-group">
          <!-- This inputText is what we work upon on the index.js file-->
        <textarea class="form-control" id="inputText" name="inputText" placeholder="Once upon a time there was..." rows="10" readonly></textarea>
        </div>
        <p class="lead">
          <button type="submit" class="btn btn-lg btn-secondary">Start Reading</button>
        </p>
        <p >
            <br>
            This experiment will help us to understand if automatically choosing the speed parameter for RSVP reading via our method is 
            the right approach.
            A text will be displayed using Rapid Serial Visual Presentation.Try to understand as much information
            as possible. At the end of the reading session, you will be asked few questions regarding the corresponding text.
            This will help us to measure your comprehensibility while using RSVP.
            <br>Thank you.
        </p>
        <h3 class="cover-heading">Instructions: </h3>
        <p class="lead">
          Click on the word to <i>pause/play</i> or <i>spacebar</i>, <i>use left and right arrows</i> to stop and go backwards or forwards. If you
          find the presentation too fast/slow, use the <i>arrow keys (up/down)</i> to manually adjust it.
        </p>

      </form>


    </main>

    <footer class="mastfoot mt-auto">
      <div class="inner">
        <p>HIS Frankfurt</p>
      </div>
    </footer>
  </div>


  </div>
</div>

<script>
  let inputText = "As the US reopens in phases, more and more jobs are being " +
  "added back to the economy. Unemployment officially fell to 13.3% in May " +
  "as employers added 2.5 million jobs, the best month for job growth since the " +
  "Bureau of Labor Statistics started tracking the data in 1939. The Labor " +
  "Department noted that during the pandemic, millions of workers were " +
  "misclassified as employed but not at work, when they should have been " +
  "counted as unemployed on temporary layoff. If it weren't for those " +
  "misclassifications, the unemployment rate would have been higher — around " +
  "19.2% in April and 16.1% in May, not including seasonal adjustments. " +
  "From retail to restaurants across America, people are returning to their " +
  "old jobs or finding new ones.";

  document.getElementById("inputText").value = inputText;

</script>

<%- include ("partials/footer.ejs") -%>
