<%- include("partials/header.ejs") -%>

<div class="mainReader">
  <h1 id="word"></h1>
</div>

<div class="slidecontainer">
  <p>
    <input type="checkbox" id="OPV" name="OPV" value="Optimal reading point"
      >
    <label for="OPV">Optimal reading point</label><br>
  </p>
  <input type="range" min="0" max="6" value="2" class="slider" id="range">
  <p id="wpmLabel">Words/minute: </p>
</div>

<a href="/" id="close"><i  class="fas fa-times"></i></a>




<script src="js/rsvp.js"></script>
<script>
    //passing words to rsvpModule
    rsvpModule.setWords(<%- JSON.stringify(arrayOfWords) %>);
</script>

<%- include ("partials/footer.ejs") -%>
