<%- include("partials/header.ejs") -%>

<div class="mainReader">
  <h1 id="word"></h1>
</div>

<div class="slidecontainer">
  <input type="range" min="0" max="6" value="2" class="slider" id="range">
  <p id="wpmLabel">Words/minute: </p>
</div>

<a href="/" id="close"><i  class="fas fa-times"></i></a>





<script>

// Third-grade students = 150 words per minute (wpm)
// Eight grade students = 250
// Average college student = 450
// Average “high level exec” = 575
// Average college professor = 675
// Speed readers = 1,500
// World speed reading champion = 4,700
// Average adult: 300 wpm


  let wordEl = document.getElementById("word");
  let arrayOfWords = (<%- JSON.stringify(arrayOfWords) %>); //This line took me 3 hours, just because of the JSON.stringify() func
  let playing = false; //shows whether we are playing or not
  let index = 0; //at which word are we in the array
  let wpm = 300; //wpm
  let interval; //the reference returned by the setInterval function, to stop or play
  let speeds = [150,250,300,450,575,675,800]; //wpms

  let slider = document.getElementById("range"); //the slider for wpm
  let wpmLabel = document.getElementById("wpmLabel"); //label for wpm

  slider.onchange = updateSpeed;
    
  //this function updates the wpm when slider is changed
  function updateSpeed(){
    wpm = speeds[slider.value]; //slider has values from 0 - 6, the indexes of the array
    wpmLabel.innerHTML = "Words/minute: " + wpm;
    if(playing)
    {
      stop();
      play();
    }
  }

  //On the window load start playing after 6 milliseconds
  window.onload = function () {
    wpmLabel.innerHTML = "Words/minute: " + wpm;
    setTimeout(play, 600);
  };

  //clicking on the word stops or resumes
  document.getElementsByClassName("mainReader")[0].onclick = function()
  {
    reset();
  }

  //self explanatory
  document.onkeydown = function(event){
      switch(event.key)
      {
          case "ArrowLeft":
            rewind();
            break;
          case " ":
            reset();
            break;
          case "ArrowRight":
            forward();
            break;
      }
  }

  function rewind()
  {
      stop();
      if(index > 0)
      {
        index--;
        wordEl.innerHTML = arrayOfWords[index].word;
      }

  }

  function forward()
  {
    stop();
    if(index < (arrayOfWords.length - 1))
    {
      index++;
      wordEl.innerHTML = arrayOfWords[index].word;
    }
  }

  function reset()
  {
    if(playing)
    {
        stop();
    }
    else
    {
        play();
    }
  }

  function play()
  {
    playing = true;
    interval = setInterval(playerOn, (60 * 1000 / wpm)); //calls the playerOn function according to the speed.
  }

  function stop()
  {
    clearInterval(interval); //clears the interval
    playing = false;
  }

  function playerOn()
  {
    wordEl.innerHTML = arrayOfWords[index].word;
    index++;
    if(index >= arrayOfWords.length)
    {
        stop();
    }
  }
</script>

<%- include ("partials/footer.ejs") -%>
