<%- include("partials/header.ejs") -%>

<div class="mainReader">
  <h1 id="word"></h1>
  <p id="message"></p>
</div>

<div class="slidecontainer">
  <p id="wpmLabel">Words/minute:</p>
  <p class="lead">
    <a
      href="/form"
      class="btn btn-lg btn-secondary"
      style="display: none;"
      id="nextButton"
      onmouseover="addData()"
      >
      NEXT
    </a>
  </p>
</div>

<a href="/" id="close"><i class="fas fa-times"></i></a>

<script type="module">
  import { initializeUI } from "./js/rsvp.js";

  //passing words to rsvp Module
  initializeUI( <%- JSON.stringify(arrayOfWords) %>, <%= speed%>);
</script>

<%- include ("partials/footer.ejs") -%>
