<%- include("../partials/header.ejs") -%>

<form method="post" action="/formHandler" class="evaluationForm">
  <input type="number" name="formNr" id="formNr" value=<%= formNr %> style="display: none" >
  <div>
    <p class="lead"> Question - 1 ? </p>
    <div class="answers">
        <div> <input type="radio"  name="question1" value="yes" required>
        <label for="yes">Yes</label>
      </div>
      <div>
        <input type="radio"  name="question1" value="no">
        <label for="no">No</label><br>
      </div>
    </div>
  </div>

  <div>
    <p class="lead"> Question - 2 which is quite longer than the one before ? </p>
    <div class=answers>
      <div>  <input type="radio"  name="question2" value="yes" required>
        <label for="yes">Yes</label>
      </div>
      <div>
        <input type="radio"  name="question2" value="no">
        <label for="no">No</label><br>
      </div>
    </div>
  </div>

  <div>
    <p class="lead"> Question - 3 an other question that need to be answered ? </p>
    <div class=answers>
      <div>  <input type="radio"  name="question3" value="yes" required>
        <label for="yes">Yes</label>
      </div>
      <div>
        <input type="radio"  name="question3" value="no">
        <label for="no">No</label><br>
      </div>
    </div>
  </div>


  <p class="lead">
    <button type="submit" class="btn btn-lg btn-secondary">Submit</button>
  </p>

</form>

<%- include ("../partials/footer.ejs") -%>
